* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: black;
    padding: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: gold;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    color: white;
}
#home {
    height: 100vh; 
    display: flex;
    background-color: #f6f6f6;
    justify-content: center;
    align-items: center;
   }
.home-content {
    display: flex;
    flex-direction: column; 
    align-items: center;    
}
.home-content img {
     margin-top: 5px;
       width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
   }

.home-content h2 {
    margin-top: 20px;
    font-size: 32px;
    color: black;
    text-align: center;
    font-family: Arial, sans-serif;
}
.home-content .role {
    font-size: 24px;
    color: #555;
    margin-top: 5px;
}
.cta-buttons {
    margin-top: 20px;
     
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap; 
}

.cta-buttons .btn {
    padding: 20px;
     margin-top: 50px;
    background-color: #daa520;
    color: black;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 600;
transition: 0.3s;
}

.cta-buttons .btn:hover {
    background-color: white;
}
#about {
    font-family: Arial;
    padding: 70px 20px;
    text-align: center;
    background-color: black;
}
.about-container {
    max-width: 900px;
    margin: auto;
}

#about h2 {
    font-size: 50px;
    margin-bottom: 20px;
    color:#daa520;
}

.about-text {
    font-size: 18px;
    color: white;
    text-align: justify;
    margin: 0;
    line-height: 1.6;

}
.vision-section {
      font-family: Arial;
     background-color: white;
     padding: 80px 20px;                
    text-align: center;
  
}
.vision-section h2 {
    font-size: 40px;
    color: #daa520;
    margin-bottom: 20px;
}

.vision-section .about-paragraph {
max-width: 900px;
   font-size: 18px;
    color: black;
    text-align: justify;
    margin: auto;
    line-height: 1.6;
}
.goal-section {
 font-family: Arial;
 padding: 80px 20px;
    text-align: center;
    background-color: black;
    }
.goal-section h2 {
    font-size: 40px;
    color: #daa520;
    margin-bottom: 20px;
}
.goal-section .about-paragraph {
   max-width: 900px;
   font-size: 18px;
    color: white;
    text-align: justify;
    margin: auto;
    line-height: 1.6;
}
.skills-section {
    background-color: black;
    padding: 80px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.skills-section h2 {
    font-size: 40px;
    color: #daa520;
    margin-bottom: 50px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.skill {
        text-align: center;
   }
.skill-box {
    background-color: #b78727;
    padding: 20px;
    border-radius: 20px;
    width: 200px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, background-color 0.3s;
}

.skill img {
    width: 160px;
    height: 150px;
}

.skill-name {
    color: white;
    font-size: 16px;
    margin: 10px 0 5px;
}
.skill-bar {
    width: 200px;
    height: 10px;
    background-color: #222;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
}
.skill:hover {
    
    background-color: #222;
}
.skill-fill {
    height: 100%;
    width: 0;
    background-color: #daa520;
    border-radius: 5px;
    animation: fillBar 2s forwards;
}

@keyframes fillBar {
    to {
        width: var(--width);
    }
}
.projects-section {
    padding: 60px 30px;
    background: white; 
    font-family: Arial, sans-serif;
}

.projects-section h2 {
    text-align: center;
    font-size: 40px;
    color: #daa520;
    margin-bottom: 40px;
}

.project {
    display: flex;
    align-items: center;
    background: #f6f6f6;
    padding: 20px;
    border-radius: 15px;
    margin: 20px auto;
    max-width: 900px;
    gap: 25px;
    transition: transform .3s;
}

.project:hover {
    transform: scale(1.02);
}

.project img {
    width: 90px;
    height: 70px;
}

.project-info h3 {
    font-size: 24px;
    color: #111;
    margin: 0;
}

.project-info p {
    font-size: 16px;
    color: #444;
    margin-top: 5px;
    line-height: 1.4;
}
.contact-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 80px 20px;
    background-color: black;
    color: white;
}

.contact-left {
    width: 40%;
}

.contact-left h2 {
    color: #daa520;
    font-size: 40px;
    margin-bottom: 15px;
}

.contact-info p {
    margin: 8px 0;
    font-size: 16px;
}

.contact-right {
    width: 40%;
}

.contact-right form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-right input,
.contact-right textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
}

.contact-right textarea {
    height: 150px;
    resize: none;
}

.contact-right button {
    background-color: #daa520;
    color: black;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-right button:hover {
    background-color: white;
}
